* {
	box-sizing: border-box;
}

body {
	max-width: 100em;
	margin: 0 auto;
	
}
.error{ 
    color: red;
}
img {
    max-width:100%
}
.karfa{

    padding: 5px;
    width: 50px;
}

h1{
    text-align: center;
}