<!DOCTYPE html>
<html lang ="is">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{  url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <a href="/karfa"><img class="karfa" src="/static/karfa.png"></a>

        {% if "karfa" in session: %}
            <span> ( {{ f }} )</span>
        {% else: %}
            <span> (0) </span>
        {% endif %}
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>